FOOTER{
    height: 5vh;
    background-color: $colord;
    color: $colorb;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 5vh;

    a{
        text-decoration: none;
    }
}