/*-------------------------------------
*********COMIENZO ARTICLE**************************
-------------------------------------*/
main{
    height: 83vh;

    article{
        border-radius: 1em;
        background-color: $colora;
        width: 22em;
        height: 35em;
        position: relative;
        left: 40%;
        margin-top: 8em;
    }
    img{
        width: 100%;
        padding: 1em; 
        border-radius:12%;
    }
    h2{
        padding: 0 1.4em 0.5em;
        font-weight: 700;
        color: $colord;
        font-size: 1.5em;
        text-align: center;
    }
    p{
        color: $colorc;
        font-weight: 400;
        padding: 0.5em 2.5em;
        text-align: center;
    }
}
/*--------------FIN ARTICLE**************************
-------------------------------------*/